PORT="8080"
DATABASE_HOST="127.0.0.1"
DATABASE_PORT="3306"
DATABASE_USER="root"
DATABASE_PASSWORD=""
DATABASE_NAME="ola_db"
DATABASE_URL="mysql://root:@127.0.0.1:3306/ola_db"
ADMIN_USERNAME="your_admin_email"
ADMIN_PASSWORD="your_admin_password"
JWT_SECRET="generate_with: node -e \"console.log(require('crypto').randomBytes(64).toString('hex'))\""